<p style="color: green"><%= notice %></p>

<h1>Reservations</h1>
<br>
<%= month_calendar events: @reservationcs do |date, reservations| %>
  <%= date %>

  <% reservations.each do |reservation| %>
    <div>
      <%= link_to "/reservationcs/#{reservation.id}" do %>
        <%= reservation.start_time.hour %>:<%= reservation.start_time.min %>
        <%= reservation.name %>
      <% end%>
    </div>
  <% end %>
<% end %>
<%= link_to "New reservation", new_reservationc_path %>
