<p style="color: green"><%= notice %></p>

<%= render @reservationc %>

<div>
  <%= link_to "予約を変更する", edit_reservationc_path(@reservationc) %> |
  <%= link_to "予約一覧へ戻る", reservationcs_path %>
  <%= button_to "予約をキャンセルする", @reservationc, method: :delete %>
</div>
